@media (min-width: 768px) and (max-width: 1536px) {
    main {
        height: 100%;
    }

    #Presentacion {
        height: 200px; 
        margin-top: 245px;
        font-size: 32px;
        margin-bottom: 60px;
    }
}

body {
    height: 1000px;
}