@media (max-width: 768px) {

    main{
        margin: 0;
        padding: 0;
        gap: 0px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 34px;
        margin-bottom: 70px;
    }

    .card {
        flex: 0 0 calc(50% - 10px);
        margin-bottom: 10px;
        scroll-snap-align: center;
        height: 100%; /*210px antes*/
        max-width: 130px;
        height: 250px;
        max-height: 250px;
        border-bottom: 0;
}

    .card img {
        height: 90px;
        width: 70%;
        border-radius: 8px;
    }
    .card h1 {
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 5px;
        border: solid rgb(0, 136, 255) 1px;
    }
    .card p {
        font-size: 7px;
        margin-bottom: 10px;
    }

    .ver-mas {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 11px;
    }
}
